{
  "plugins": [
    ["transform-class-properties"],
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "8.9.0"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
