# Ignore everything
*

# Allow files and directories
!/src
!/lib
!/bin
!/lua
!/schemas
!/package.json
!/pnpm-lock.yaml
!/LICENSE

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/.env*
