{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "new-cap": 0,
    "prefer-arrow-callback": 0,
    "no-param-reassign": [2,{"props":false}],
    "max-len": [2, 150],
    "arrow-body-style": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never",
    }]
  },
  "plugins": [
    "mocha"
  ],
  "env": {
    "mocha": true
  }
}
